@tailwind base;
@tailwind components;
@tailwind utilities;

.job-description div, .job-description span, .job-description applet, .job-description object, .job-description iframe,
.job-description h1, .job-description h2, .job-description h3, .job-description h4, .job-description h5, .job-description h6, .job-description p, .job-description blockquote, .job-description pre,
.job-description a, .job-description abbr, .job-description acronym, .job-description address, .job-description big, .job-description cite, .job-description code,
.job-description del, .job-description dfn, .job-description em, .job-description img, .job-description ins, .job-description kbd, .job-description q, .job-description s, .job-description samp,
.job-description small, .job-description strike, .job-description strong, .job-description sub, .job-description sup, .job-description tt, .job-description var,
.job-description b, .job-description u, .job-description i, .job-description center,
.job-description dl, .job-description dt, .job-description dd, .job-description ol, .job-description ul, .job-description li,
.job-description fieldset, .job-description form, .job-description label, .job-description legend,
.job-description table, .job-description caption, .job-description tbody, .job-description tfoot, .job-description thead, .job-description tr, .job-description th, .job-description td,
.job-description article, .job-description aside, .job-description canvas, .job-description details, .job-description embed, 
.job-description figure, .job-description figcaption, .job-description footer, .job-description header, .job-description hgroup, 
.job-description menu, .job-description nav, .job-description output, .job-description ruby, .job-description section, .job-description summary,
.job-description time, .job-description mark, .job-description audio, .job-description video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* 5 display-role reset for older browsers */
.job-description article, .job-description aside, .job-description details, .job-description figcaption, .job-description figure, 
.job-description footer, .job-description header, .job-description hgroup, .job-description menu, .job-description nav, .job-description section {
	display: block;
}
.job-description ol, .job-description ul {
	list-style: none;
}
.job-description blockquote, q {
	quotes: none;
}
.job-description blockquote:before, .job-description blockquote:after,
.job-description q:before, .job-description q:after {
	content: '';
	content: none;
}
.job-description table {
	border-collapse: collapse;
	border-spacing: 0;
}






.job-description > *, .job-description span, .job-description li, .job-description strong {
    color: rgba(31, 41, 55) !important;
	font-size: 15px !important;
	font-family: Arial, Helvetica, sans-serif !important;
} 


.job-description h1,
.job-description h2,
.job-description h3,
.job-description h4,
.job-description h5,
.job-description h6,
.job-description span,
.job-description strong,
.job-description .h1,
.job-description .h2,
.job-description .h3,
.job-description .h4,
.job-description .h5,
.job-description .h6 {
    font-weight: bold !important;
}

.job-description a {
    text-decoration: underline !important;
}

.job-description li {
    list-style-type: circle !important;
    margin-left: 1rem !important;
}




.filters {
	display: none;
}

.job:last-of-type {
	border: none;
}

.App {
	min-height: 100vh;
	grid-template-rows: auto 1fr;
}

@media (min-width: 768px) {
	.App {
		grid-template-rows: 1fr auto;
	}
}